<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :album_id %><br>
	<%= f.collection_select(:album_id, Album.all, :id, :albumName) %>
  </div>
  <div class="field">
    <%= f.label :songName %><br>
    <%= f.text_field :songName %>
  </div>
  <div class="field">
    <%= f.label :songUrl %><br>
    <%= f.text_field :songUrl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
