
<div data-role="header">
  <h1>Listing songs</h1>
</div>

<%= form_tag songs_path, :method => 'get' do %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<section id="song"></section>
<ul data-role="listview">

    <li>
		<table>
    <tr>
	 <td style="width:33%"><%= sortable "album_id" %></td>
	 <td style="width:33%"><%= sortable "songName" %></td>
	 <td style="width:33%"><%= sortable "songUrl" %></td>
  
    </tr>
</table>
</li>
</ul>
<ul data-role="listview">
    <% @songs.each do |song| %>
	<li>
		<table>
      <tr>
		
        <td style="width:33%"><%= song.album_id %></td>
        <td style="width:33%"><%= song.songName %></td>
        <td style="width:33%"><%= link_to "Play", song.songUrl, :class => "play_song" %></td>
        
      </tr>
 
</table>
</li>
   <% end %>
</ul>
<%= will_paginate @songs %>
<br>
<script>
$(document).ready(function() {  
     var audioSection = $('section#song');  
     $('a.play_song').click(function() {  

     var audio = $('<audio>', {  
         controls : 'controls'  
     });  

     var url = $(this).attr('href');  
     $('<source>').attr('src', url).appendTo(audio);  
     audioSection.html(audio);  
     return false;       });  
 }); 
</script>
<%= link_to 'New Song', new_song_path %>
