<div data-role="header">
  <h1>Listing albums</h1>
</div>

<%= form_tag albums_path, :method => 'get' do %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<ul data-role="listview">

    <li>
		<table>
			<tr>
	  <td style="width:27%"><%= sortable "albumCover_url" %></td>
      <td style="width:20%"><%= sortable "artistName" %></td>
      <td style="width:20%"><%= sortable "albumName" %></td>
      <td style="width:20%"><%= sortable "genre" %></td>
      <td style="width:20%"><%= sortable "releaseDate" %></td>
  </tr>
</table>
    </li>
  </ul>
<ul data-role="listview">

    <% @albums.each do |album| %>
      
		   <li>
	   		<table>
	   			<tr>
	   	  <td style="width:27%">  <%= image_tag(album.albumCover_url, :width => 100) if album.albumCover.present? %></td>
       <td style="width:20%"> <%= album.artistName %></td>
       <td style="width:20%"><%= album.albumName %></td>
       
        <td style="width:20%"><%= album.genre %></td>
        <td style="width:20%"><%= album.releaseDate %></td>
	</tr>
</table>
     </li>
       
    <% end %>
	<%= will_paginate @albums %>
	<br>
	<%= link_to 'New Album', new_album_path %>
    </ul>
   </div>
   





